# # Database Credentials
# export DB_HOST=localhost
# export DB_DATABASE=CsdsaDb
# export DB_USERNAME=
# export DB_PASSWORD=
# export DB_PORT=5432
#
# # JWT Credentials
# export CSDSA_JWT_PUBLIC_KEY=
# export CSDSA_JWT_PRIVATE_KEY=
# export JWT_EXPIARY_MINUTES=60
# export JWT_ISSUER=csdsa.local
# export JWT_AUDIENCE=csdsa.local
# export JWT_SECRET=
# echo ".env variables sourced!"

# Database Credentials
DB_HOST=localhost
DB_DATABASE=CsdsaDb
DB_USERNAME=
DB_PASSWORD=
DB_PORT=5432

# JWT Credentials
CSDSA_JWT_PUBLIC_KEY=
CSDSA_JWT_PRIVATE_KEY=
JWT_EXPIARY_MINUTES=60
JWT_ISSUER=csdsa.local
JWT_AUDIENCE=csdsa.local
JWT_SECRET=
